<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
	<head>
		 <title><%= title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<link rel='stylesheet' href='/stylesheets/Ow_Rg_01.css' />
		
	<!-- 휴무일 DATEPICKER -->	
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#holiday_date" ).datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true, 
		changeYear: true,
		minDate: '-100y', // 현재날짜로부터 100년이전까지 년을 표시한다.
		yearRange: 'c-100:c+30', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.
		monthNamesShort : ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
		monthNames : ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] ,
		mode:'multiple'
});
  } );
  </script>
	

<script type="text/javascript">

	// 탭.
	function init_tabs() {
		$(".tab_content").css("display","none");
		if (!$('ul.tabs').length) { return; }
		$('div.tab_content_wrap').each(function() {
			$(this).find('div.tab_content:first').show();
		});
		$('ul.tabs a').click(function() {
			if (!$(this).hasClass('current')) {
				$(this).addClass('current').parent('li').siblings('li').find('a.current').removeClass('current');
				$($(this).attr('href')).show("1000").siblings('div.tab_content').hide("1000");
			}
			this.blur();
			return false;
		});
	}
	$(document).ready(function() {
		init_tabs();
	});
	
</script>
<script type="text/JavaScript">
    function onWriteSubmit(tag)
    {
        if ( $("#restaurant_name").val().trim() == "" )
        {
            var message = "레스토랑의 상호명을 입력해 주세요";
            $("#restaurant_name").val("");
            $("#restaurant_name").focus();
            alert(message);
            return false;
        }

        if ( $("#restaurant_opening_time").val().trim() == "" )
        {
            var message = "오픈 시간을 입력해 주세요";
            $("#restaurant_opening_time").val("");
            $("#restaurant_opening_time").focus();
            alert(message);
            return false;
        }

        if ( $("#restaurant_closing_time").val().trim() == "" )
        {
            var message = "마감 시간을 입력해 주세요";
            $("#restaurant_closing_time").val("");
            $("#restaurant_closing_time").focus();
            alert(message);
            return false;
        }

        if ( $("#holiday_date").val().trim() == "" )
        {
            var message = "휴무일을 입력해 주세요";
            $("#holiday_date").val("");
            $("#holiday_date").focus();
            alert(message);
     		return false;
        }
        if ( $("#restaurant_type").val().trim() == "" )
        {
            var message = "레스토랑의 타입을 입력해 주세요";
            $("#restaurant_type").val("");
            $("#restaurant_type").focus();
            alert(message);
           	return false;
        }
        if ( $("#restaurant_address").val().trim() == "" )
        {
            var message = "주소를 입력해 주세요";
            $("#restaurant_address").val("");
            $("#restaurant_address").focus();
            alert(message);
  			return false;
        }
        if ( $("#restaurant_tel").val().trim() == "" )
        {
            var message = "전화번호를 입력해 주세요";
            $("#restaurant_tel").val("");
            $("#restaurant_tel").focus();
            alert(message);
  			return false;
        }
        if ( $("#restaurant_deposit_menu").val().trim() == "" )
        {
            var message = "총 메뉴가격에 따른 deposit을 정해주세요  입력해 주세요";
            $("#restaurant_deposit_menu").val("");
            $("#restaurant_deposit_menu").focus();
            alert(message);
  			return false;
        }
        
        if ( $("#restaurant_deposit_member").val().trim() == "" )
        {
            var message = "총 인원에 따른 deposit을 입력해 주세요";
            $("#restaurant_deposit_member").val("");
            $("#restaurant_deposit_member").focus();
            alert(message);
  			return false;
        }
        var returnValue = alert("저장되었습니다.");

    }
    
    function onWriteSubmitmenu(tag)
    {
     if ( $("#menu").val().trim() == "" )
        {
            var message = "메뉴를 입력해 주세요";
            $("#menu").val("");
            $("#menu").focus();
            alert(message);
  			return false;
        }
        var returnValue = alert("메뉴가 저장되었습니다!");
       }
</script>
<script>
// this is the id of the form
$("#registration").submit(function(e) {

    var url = "/Ow_Rg_01.js"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: url,
           data: $("#registration").serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert("dddd"); // show response from the php script.
           }
         });

    e.preventDefault(); // avoid to execute the actual submit of the form.
});
</script>
<script>
	function resetForm()
	{
	var message = "초기화 합니다.";
	alert(message);
	
	}
	
	<!-- 메뉴 추가-->
	var arrInput = new Array(0);
	var arrInputValue = new Array(0);
	
	function addMenu() 
	{
		arrInput.push(arrInput.length);
		arrInputValue.push("");
		display();
	}
	function display() 
	{
		document.getElementById('addMenu').innerHTML="";
		for (intI=0;intI<arrInput.length;intI++) {
		document.getElementById('addMenu').innerHTML+=createInput(arrInput[intI], arrInputValue[intI]);
		}
   }
   
   function saveValue(intId,strValue) 
   {
		arrInputValue[intId]=strValue;
	}  
 
	function createInput(id,value) 
	{
		return "<input type='file' id='menu_picture"+ id +"' onChange='javascript:saveValue("+ id +",this.value)' value='"+ 
		value +"'><br><br>";
	}
 
	function deleteMenu() 
	{
		if (arrInput.length > 0) 
		{ 
			arrInput.pop(); 
			arrInputValue.pop();
		}
		display(); 
	}
	
	<!------ 레스토랑 사진 추가----->
	<!-- 메뉴 추가-->
	var arrInput_r = new Array(0);
	var arrInputValue_r = new Array(0);
	
	function addRImage() 
	{
		arrInput_r.push(arrInput_r.length);
		arrInputValue_r.push("");
		display_r();
	}
	function display_r() 
	{
		document.getElementById('addRImage').innerHTML="";
		for (intI=0;intI<arrInput_r.length;intI++) {
		document.getElementById('addRImage').innerHTML+=createInput_r(arrInput_r[intI], arrInputValue_r[intI]);
		}
   }
   
   function saveValue_r(intId,strValue) 
   {
		arrInputValue_r[intId]=strValue;
	}  
 
	function createInput_r(id,value) 
	{
		return "<input type='file' id='image"+ id +"' onChange='javascript:saveValue_r("+ id +",this.value)' value='"+ 
		value +"'><br><br>";
	}
 
	function deleteRImage() 
	{
		if (arrInput_r.length > 0) 
		{ 
			arrInput_r.pop(); 
			arrInputValue_r.pop();
		}
		display_r(); 
	}


</script>
	</head>
<body>
<!-- 탭시작 -->
<div class="tab-wrap">
	<ul class="tabs">
		<li>
			<a href="#R_INFO" class="selected">레스토랑 정보</a>
		</li>
		<li>
			<a href="#R_MENU">메뉴/예약금 관리</a>
		</li>
		<li>
			<a href="#R_TABLE">매장 도면 및 테이블 배치 구성</a>
		</li>
		
	</ul>
	
	<div class="tab_content_wrap">
	
		<div id="R_INFO" class="tab_content">
				<form method="POST" enctype ="multipart/form-data" action="/Ow_Rg_01" name="r_info" id="registration" onsubmit="return onWriteSubmit(this);">
				<center>
				상호명 *<br> &nbsp; <input type="text" name="restaurant_name" id="restaurant_name" value="<%=row.restaurant_name%>"><br/>
				오픈시간 *<br> &nbsp; <input type="text" name="restaurant_opening_time" id="restaurant_opening_time"value="<%=row.restaurant_opening_time%>" placeholder ="ex)10:00:00"><br/>
				마감시간 *<br> &nbsp; <input type="text" name="restaurant_closing_time"id="restaurant_closing_time"  value="<%=row.restaurant_closing_time%>" placeholder ="ex)21:00:00"><br/>
				휴무일 *<br> &nbsp; <input type="text"  id="holiday_date" name="holiday_date" value="<%=row_holiday.holiday_date%>" placeholder="ex)2016-04-02"><br/>
				업종 *<br> &nbsp; <input type="text" name="restaurant_type" id="restaurant_type" value="<%=row.restaurant_type%>"><br/>
				주소 *<br> &nbsp; <input type="text" name="restaurant_address" id="restaurant_address"value="<%=row.restaurant_address%>"><br/>
				전화번호 *<br> &nbsp; <input type="text" name="restaurant_tel" id="restaurant_tel" value="<%=row.restaurant_tel%>"><br/>
				소개 *<br> &nbsp; <input type="text" name="restaurant_introduce" size=50 value="<%=row.restaurant_introduce%>"><br/><br/>
				Deposit 규정등록 *<br> &nbsp;
			▶ 총 주문가격의 <input type=text" name="restaurant_deposit_menu" id="restaurant_deposit_menu" value="<%=row.restaurant_deposit_menu%>"> %<br/><br/>
			▶ 고객이 메뉴 선택하지 않을 시 인원수 x <input type=text" name="restaurant_deposit_member"   id="restaurant_deposit_member" value="<%=row.restaurant_deposit_member%>">원<br/><br/>
				레스토랑 사진 *<br> &nbsp;<input type="file" name="image" value="<%=row.restaurant_picture_url%>"><br/><br/>
				<div id="addRImage"></div>
				<input type="button" name="add_RestaurantImage" onClick="addRImage();" value="사진추가"/>&nbsp;
				<input type="button" name="delete_RestaurantImage" onClick="deleteRImage();" value="사진삭제"/><br/><br/>
				
				<button type="submit" >저장</button>
				<button type="reset" onClick="resetForm()" name="reset" >취소</button><br/><br/>
				</center>
				</form>
		</div>
		
		<!-- 메뉴 -->
		<div id="R_MENU" class="tab_content">
		<form method="POST" enctype ="multipart/form-data" action="/Ow_Rg_01/menu" name="menu_info" id="menu_info" onsubmit="return onWriteSubmitmenu(this);">
		<center>
				메뉴판 등록  *<br/> 
				<input type="file" name="menu_picture" id="menu_picture"/> <br/><br/>
				
				<div id="addMenu"></div>
				<input type="button" name="add_menu" onClick="addMenu();" value="메뉴추가"/>&nbsp;
				<input type="button" name="delete_menu" onClick="deleteMenu();" value="메뉴삭제"/><br/><br/>
				
				<button type="submit">저장</button>
				<button type="reset" name="return" >취소</button><br/><br/>
				
				
				
		</center>
		</form>
		</div>
		
		<div id="R_TABLE" class="tab_content">
			<form method="POST" action="/Ow_Rg_01/file" name="menuupload" id="menuupload" enctype ="multipart/form-data" >
			<center>
			
			<input type="file" name="image" value="파일"> &nbsp;&nbsp; 
			<input type="button" value="추가" onclick="addInput();" /></br>
			<button type="submit">이미지 저장</button>
			</center>
			</form>
		</div>
		
	</div><!-- //tab_content_wrap -->
</div><!-- //tab-wrap -->
<!-- // 탭끝 -->

</body>

</html>