<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
	<head>
		 <title><%= title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<link rel='stylesheet' href='/stylesheets/Ow_Rg_01.css' />
		
	
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">

	// 탭.
	function init_tabs() {
		$(".tab_content").css("display","none");
		if (!$('ul.tabs').length) { return; }
		$('div.tab_content_wrap').each(function() {
			$(this).find('div.tab_content:first').show();
		});
		$('ul.tabs a').click(function() {
			if (!$(this).hasClass('current')) {
				$(this).addClass('current').parent('li').siblings('li').find('a.current').removeClass('current');
				$($(this).attr('href')).show("1000").siblings('div.tab_content').hide("1000");
			}
			this.blur();
			return false;
		});
	}
	$(document).ready(function() {
		init_tabs();
	});
	
</script>
<script type="text/JavaScript">
    function onWriteSubmit(tag)
    {
        if ( $("#restaurant_name").val().trim() == "" )
        {
            var message = "레스토랑의 상호명을 입력해 주세요";
            $("#restaurant_name").val("");
            $("#restaurant_name").focus();
            alert(message);
            return false;
        }

        if ( $("#restaurant_opening_time").val().trim() == "" )
        {
            var message = "오픈 시간을 입력해 주세요";
            $("#restaurant_opening_time").val("");
            $("#restaurant_opening_time").focus();
            alert(message);
            return false;
        }

        if ( $("#restaurant_closing_time").val().trim() == "" )
        {
            var message = "마감 시간을 입력해 주세요";
            $("#restaurant_closing_time").val("");
            $("#restaurant_closing_time").focus();
            alert(message);
            return false;
        }

        if ( $("#holiday_date").val().trim() == "" )
        {
            var message = "휴무일을 입력해 주세요";
            $("#holiday_date").val("");
            $("#holiday_date").focus();
            alert(message);
     		return false;
        }
        if ( $("#restaurant_type").val().trim() == "" )
        {
            var message = "레스토랑의 타입을 입력해 주세요";
            $("#restaurant_type").val("");
            $("#restaurant_type").focus();
            alert(message);
           	return false;
        }
        if ( $("#restaurant_address").val().trim() == "" )
        {
            var message = "주소를 입력해 주세요";
            $("#restaurant_address").val("");
            $("#restaurant_address").focus();
            alert(message);
  			return false;
        }
        if ( $("#restaurant_tel").val().trim() == "" )
        {
            var message = "전화번호를 입력해 주세요";
            $("#restaurant_tel").val("");
            $("#restaurant_tel").focus();
            alert(message);
  			return false;
        }
        var returnValue = alert("저장되었습니다.");

    }
    
    function onWriteSubmitmenu(tag)
    {
     if ( $("#menu").val().trim() == "" )
        {
            var message = "메뉴를 입력해 주세요";
            $("#menu").val("");
            $("#menu").focus();
            alert(message);
  			return false;
        }
        var returnValue = alert("메뉴가 저장되었습니다!");
       }
</script>
<script>
// this is the id of the form
$("#registration").submit(function(e) {

    var url = "/Ow_Rg_01.js"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: url,
           data: $("#registration").serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert("dddd"); // show response from the php script.
           }
         });

    e.preventDefault(); // avoid to execute the actual submit of the form.
});
</script>
<script>
	function resetForm()
	{
	var message = "초기화 합니다.";
	alert(message);
	
	}
	
	function addMenu()
	{
	var message = "초기화 합니다.";
	alert(message);
	
	}
</script>
	</head>
<body>
<!-- 탭시작 -->
<div class="tab-wrap">
	<ul class="tabs">
		<li>
			<a href="#R_INFO" class="selected">레스토랑 정보</a>
		</li>
		<li>
			<a href="#R_MENU">메뉴/예약금 관리</a>
		</li>
		<li>
			<a href="#R_TABLE">매장 도면 및 테이블 배치 구성</a>
		</li>
		
	</ul>
	
	<div class="tab_content_wrap">
	
		<div id="R_INFO" class="tab_content">
				<form method="POST" action="/Ow_Rg_01" name="r_info" id="registration" onsubmit="return onWriteSubmit(this);">
				<center>
				상호명 *<br> &nbsp; <input type="text" name="restaurant_name" id="restaurant_name" value="<%=row.restaurant_name%>"><br/>
				오픈시간 *<br> &nbsp; <input type="text" name="restaurant_opening_time" id="restaurant_opening_time"value="<%=row.restaurant_opening_time%>" ><br/>
				마감시간 *<br> &nbsp; <input type="text" name="restaurant_closing_time"id="restaurant_closing_time"  value="<%=row.restaurant_closing_time%>"><br/>
				휴무일 *<br> &nbsp; <input type="text" name="holiday_date" id="holiday_date" ><br/>
				업종 *<br> &nbsp; <input type="text" name="restaurant_type" id="restaurant_type" value="<%=row.restaurant_type%>"><br/>
				주소 *<br> &nbsp; <input type="text" name="restaurant_address" id="restaurant_address"value="<%=row.restaurant_address%>"><br/>
				전화번호 *<br> &nbsp; <input type="text" name="restaurant_tel" id="restaurant_tel" value="<%=row.restaurant_tel%>"><br/>
				소개 *<br> &nbsp; <input type="text" name="return"><br/>
				대표사진 *<br> &nbsp;<input type="file" name="return" ><br/><br/>
				<button type="submit" alert="저장되었습니다.">저장</button>
				<button type="reset" onClick="resetForm()" name="reset" >취소</button><br/><br/>
				</center>
				</form>
		</div>
		
		<!-- 메뉴 -->
		<div id="R_MENU" class="tab_content">
		<form method="POST" action="/Ow_Rg_01/menu" name="menu_info" id="menu_info" onsubmit="return onWriteSubmitmenu(this);">
		<center>
			메뉴판 등록  *<br> &nbsp; 
				메뉴 *&nbsp; <input type="text" name="menu" id="menu" value="<%=row_menu.menu_name%>">
				가격 *&nbsp; <input type="text" name="price" id="price" value="<%=row_menu.price%>"><br/>
				<button type="button" name="add_menu" onClick="addMenu()">메뉴추가</button><br/>
			<input type="file" name="return" id="name"><br/><br/>
			Deposit 규정등록 *<br> &nbsp;
			▶ 총 주문가격의 <input type=text" name="return id="deposit"> %<br/><br/>
			▶ 고객이 메뉴 선택하지 않을 시 인원수 x <input type=text" name="return id="deposit">원<br/><br/>
			<button type="submit">저장</button>
				<button type="reset" name="return" >취소</button><br/><br/>
		</center>
		</form>
		</div>
		
		<div id="R_TABLE" class="tab_content">
			<form method="POST" action="/Ow_Rg_01/file" name="fileupload" id="fileupload">
			<center>
			
			<input type="file" name="fileupload" value="파일"/></br>
			<button type="submit">이미지 저장</button>
			</center>
			</form>
		</div>
		
	</div><!-- //tab_content_wrap -->
</div><!-- //tab-wrap -->
<!-- // 탭끝 -->

</body>

</html>